.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

/* .banner {
    
    width: 100vw;
    height: 25vh;
    background: url(/img/Art/deadbridge.JPG);
    background-size:cover;
    clip-path: polygon(0 26%, 100% 0, 100% 39%, 0 66%);
} */
.textcontainer{
    background: linear-gradient(rgba(204, 197, 197, 0.7), rgba(255, 243, 243, 0.7)), url(/img/Art/deadbridge.JPG) center/cover no-repeat fixed;
    background-color: rgb(221, 205, 205);
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
/* .secondcontainer{
    background: linear-gradient(rgba(204, 197, 197, 0.7), rgba(255, 243, 243, 0.7));
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    position: absolute;
    top: 50;
  */

.title{
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100vw;
}

.hr {
    color: black;
}
@media screen and (max-width: 600px)
{
    .wrapper {
    display:flex;
    flex-direction: column;
   justify-content: space-between;
   align-items: center;
   
 }}