.container {
    height: 60px;
    padding:  0rem .75rem;
    padding-top: .5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky !important;
    top: 0;
    z-index: 999;
  }
  
  .logo {
    flex: 1;
    padding-left: .5rem;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;

  }
  
  .items {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;

  }

  .item {
    opacity: .5;
    cursor: pointer;
  }

  .item:hover {
    opacity: 1;
  }
  
  .cartitem {
    position: relative;
  }
  .cart {
    cursor: pointer;
    height: 1.25rem;
    position: relative;
  }

  .counter {
    position: absolute;
    top:-10px;
    right:-5px;
    height: .85rem;
    width: .75rem;
    padding: 3px;
    font-size: .6rem;
    font-weight: bold;
    color: black;
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;
    transition: 1s;
  }

.counter:active {
  font-size: 100px;
}
  
  @media screen and (max-width:480px) {
   .logo {
    flex: 1;

   }
   .items {
    flex:3;
   }
  }