.container{
    padding: 20px;
    display: flex;
    background-color: white;
}

.left {
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
  

}

.imgContainer{
    width: 50vw;
    height: 85vh;
    position: relative;
    margin: 2rem;
}

.img{
    object-fit: contain;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5rem;
}
.price:hover {
    font-size: 25px;
}
.desc {
    letter-spacing: 1.5px;
    margin: 2rem 0rem;
}
.choose {
    font-size: .8rem;
}

.sizes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 100px;
}
.size {
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  .small {
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    opacity: 60%;
  }
  .smallactive{
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    opacity: 100%;
  }
  .medium {
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    opacity: 60%;
  }
  .mediumactive{
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    transition:0s;
    opacity: 100%;
  }
  .large {
    font-size: 2.5rem;
    position: relative;
    cursor: pointer;
    opacity: 60%;
  }
  .largeactive{
    font-size: 2.5rem;
    position: relative;
    cursor: pointer;
    transition:0s;
    opacity: 100%;
  }
  .number {
    position: absolute;
    bottom: 0;
    color: black;
    font-size: 12px;
    display: flex;
   
  }

  .options {
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-weight: 500;
      font-size: 14px;
  }

  .checkbox {
      width: 20px;
      height: 20px;

  }

  .quantity {
    text-align: center;
      width: 40px;
      height: 30px;

  }

  .button {
      height: 2rem;
      width: 10rem;
      margin-left: 10px;
      background-color: grey;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: 500;
      transition: 0s .3s ease-in-out;
  }
.button:active {
    background-color: black;
    transition: 0s ease-in-out;
}
  @media screen and (max-width: 680px){
    .container {
        padding: 5rem;
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 1;
    }
    .imgContainer{
        height: 70vh;
        width: 85vw;


    }
    .right{
        flex: 1;
    }
    .sizes{
        width: 100%;
    }
  }